:root{
    --vermelho:#E50914;
    --preta:#0f0f0f;	
  }


*{ margin:0;
    padding:0;
    box-sizing:border-box;
   }

body{
    background: var(--preta);
    font-family: 'Open sans', Courier, monospace;
    color:#fff
}

header .container{
    display:flex;
    align-items: center; 
    justify-content: left;
    padding: 10px    
}
   

/* NAVBAR ESQUERDA */

header .container img{
    width: 8em;   
    align-items: center;
    justify-content: center;     
    margin-left:35px;
    padding-right: 32px ; 
   
}

header nav a{
    text-decoration:none;  
    color: rgb(255, 255, 255);
    margin-right:10px;
    transition: 0.3s ease all;
    font-size: 15px;     
}

header nav a:hover{
    color:rgb(182, 182, 182)
}

/* Filme principal */
.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%), url("../img/capa-vikings.jpg");

    height: 850px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /*mudam de acordo com o flex-direction*/
    align-items: flex-start; /*mudam de acordo com o flex-direction*/
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px; 
    font-family: 'Open sans', 'Gill Sans MT';
    margin-left: 10px;     
}

.filme-principal img{
    margin-top: 0;
    width: 80%;
    
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-left: 12px;
}

.botao1,.botao {
    background-color: rgba(151, 151, 151, 0.5);
    border: none;
    color: white;
    padding: 15px 40px;
    margin-right: 6px;
    font-size: 25px;
    border-radius: 5px;
    cursor:pointer;
    transition: .3s ease all;
    font-weight: bold;
}

.botao:hover{
    background-color: rgba(117, 117, 117, 0.3);   
    
}
.botao1:hover{
    background-color: rgba(255, 255, 255, 0.6)   
} 

.botao1{
    background-color: white;
    color:black;
    margin-left: 30px;
}


.botao i,.botao1 i{
    margin-right:7px;
    font-size: 20px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 40%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;  
    cursor:pointer;  
    transition: .3s ease all; 
}
.box-filme:hover{
    opacity: 60%; 
}


.carrosel-filmes{
    margin-top: -60px;
}

.carrosel-filmes .titulo-carrosel a{   
    font-family: "Nunito";
    text-decoration:none;
    font-size: 28px;
    font-weight: bold;
    color: #fff; 
    transition: .3s ease all;   
    
}

.carrosel-filmes .titulo-carrosel{
    margin-top: -60px;
    margin-left: 27px;
    margin-bottom: 10px;
}
.carrosel-filmes .titulo-carrosel i{
    font-size: 20px;
    margin-left: 3px;
    cursor:pointer;
    transition: .3s ease all;

}
.carrosel-filmes .titulo-carrosel a:hover{
    color: rgb(149, 149, 149);
    
}
.carrosel-filmes .titulo-carrosel i:hover{
    color: rgb(149, 149, 149);
    
}
